flows.json
[
    {
        "id": "94140648910dfc34",
        "type": "tab",
        "label": "Flow 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "5b56aabd42efba0c",
        "type": "mqtt in",
        "z": "94140648910dfc34",
        "name": "Luminosità",
        "topic": "luminosity",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "14d9caf1e7ab2de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 160,
        "wires": [
            [
                "169d94a13ff2f0cd"
            ]
        ]
    },
    {
        "id": "169d94a13ff2f0cd",
        "type": "ui_gauge",
        "z": "94140648910dfc34",
        "name": "lumin",
        "group": "8e92973d44e9eb68",
        "order": 0,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "LUMINOSITA'",
        "label": "lux",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#a51d2d",
            "#c01c28",
            "#f66151"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 100,
        "wires": []
    },
    {
        "id": "6a2ac0a438b3f9bd",
        "type": "ui_gauge",
        "z": "94140648910dfc34",
        "name": "temp",
        "group": "8e92973d44e9eb68",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "TEMPERATURA",
        "label": "°C",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#1a5fb4",
            "#1c71d8",
            "#3584e4"
        ],
        "seg1": "",
        "seg2": "",
        "x": 690,
        "y": 240,
        "wires": []
    },
    {
        "id": "02d161f7958619d8",
        "type": "mqtt in",
        "z": "94140648910dfc34",
        "name": "Temperatura",
        "topic": "temperature",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "14d9caf1e7ab2de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 470,
        "y": 240,
        "wires": [
            [
                "6a2ac0a438b3f9bd"
            ]
        ]
    },
    {
        "id": "efd4b6cd24cd83b3",
        "type": "mqtt in",
        "z": "94140648910dfc34",
        "name": "Pressione",
        "topic": "pressure",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "14d9caf1e7ab2de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 320,
        "wires": [
            [
                "272f3547923c6fed"
            ]
        ]
    },
    {
        "id": "272f3547923c6fed",
        "type": "ui_gauge",
        "z": "94140648910dfc34",
        "name": "press",
        "group": "8e92973d44e9eb68",
        "order": 1,
        "width": 0,
        "height": 0,
        "gtype": "gage",
        "title": "PRESSIONE",
        "label": "hPa",
        "format": "{{value}}",
        "min": 0,
        "max": "1500",
        "colors": [
            "#26a269",
            "#2ec27e",
            "#33d17a"
        ],
        "seg1": "",
        "seg2": "",
        "x": 670,
        "y": 320,
        "wires": []
    },
    {
        "id": "45fec11d85656cf4",
        "type": "mqtt in",
        "z": "94140648910dfc34",
        "name": "TImestamp",
        "topic": "timestamp",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "14d9caf1e7ab2de2",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 460,
        "y": 420,
        "wires": [
            [
                "72063cf14687f9c5",
                "1aa6d2df410ce988"
            ]
        ]
    },
    {
        "id": "72063cf14687f9c5",
        "type": "debug",
        "z": "94140648910dfc34",
        "name": "debug 1",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 720,
        "y": 400,
        "wires": []
    },
    {
        "id": "1aa6d2df410ce988",
        "type": "ui_text",
        "z": "94140648910dfc34",
        "group": "8e92973d44e9eb68",
        "order": 3,
        "width": 0,
        "height": 0,
        "name": "text timestamp",
        "label": "TIMESTAMP",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 700,
        "y": 500,
        "wires": []
    },
    {
        "id": "14d9caf1e7ab2de2",
        "type": "mqtt-broker",
        "name": "",
        "broker": "192.168.1.105",
        "port": "1883",
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "8e92973d44e9eb68",
        "type": "ui_group",
        "name": "DATA SENSOR",
        "tab": "8a45ae873c6245d8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "8a45ae873c6245d8",
        "type": "ui_tab",
        "name": "Home",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    }
]